@charset "UTF-8";

body{
    background-color: #99a9be;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: #266db4;
}

.titulo {
    text-align: center;
    background-color: #5d9bce;
    color: #99a9be ;
}


.basico {
    color: rgb(136, 121, 102);
}

.intermediario {
    color: rgb(120, 61, 128);
}

.avançado {
    color: #3d6280;
}